.light-note {
  display: flex;
  gap: 18px;
  margin-bottom: 18px;
  padding: 17px 20px;
  border-left: 3px solid #ccff49;
  background: #171c18;
  font-size: 11px;
}

.light-note span {
  color: #929b96;
  line-height: 1.7;
}
